:root {
  --primary-color: #ff9854;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  --van-search-left-icon-color: var(--primary-color) !important;
  /* --van-nav-bar-icon-color: var(var(--primary-color));
  --van-nav-bar-text-color: var(var(--primary-color)); */
}

body {
  font-size: 14px;
}

.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}

.detail_icon_chat {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/detail/icon_chat.png) 0 0 / 100% 100%;
}

.detail_icon_order {
  display: block;
  width: 14px;
  height: 17px;
  background: url(../img/detail/icon_order.png) 0 0 / 100% 100%;
}